# Development Docker Compose configuration for Google Drive Clone

services:
  # Frontend Service (SvelteKit)
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=${VITE_API_URL}
    # this is to hot-reload the frontend and avoid overwriting the node_modules folder
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    networks:
      - app-network
    restart: unless-stopped

  # Backend Service (FastAPI)
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - MONGODB_URL=${MONGODB_URL}
      - MINIO_ENDPOINT=${MINIO_ENDPOINT}
      - MINIO_ACCESS_KEY=${MINIO_ACCESS_KEY}
      - MINIO_SECRET_KEY=${MINIO_SECRET_KEY}
      - MINIO_BUCKET_NAME=${MINIO_BUCKET_NAME}
    # this is to hot-reloading
    volumes:
      - ./backend:/app
    depends_on:
      - mongodb
      - minio
      - redis
    networks:
      - app-network
    restart: unless-stopped

  # Django Service (Django-DRF)
  api-django-drf:
    build:
      context: ./api-django-drf
      dockerfile: Dockerfile
    ports:
      - "8001:8000"
    environment:
      - MONGODB_URL=${MONGODB_URL}
      - MONGO_INITDB_DATABASE=${MONGO_INITDB_DATABASE}
    volumes:
      - ./api-django-drf:/app
    depends_on:
      - mongodb
    networks:
      - app-network
    restart: unless-stopped

  # MongoDB Service
  mongodb:
    image: mongo:7.0
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
      - MONGO_INITDB_DATABASE=${MONGO_INITDB_DATABASE}
    volumes:
      - ./data/mongodb:/data/db
      - ./scripts/mongodb:/docker-entrypoint-initdb.d
    networks:
      - app-network
    restart: unless-stopped

  # MinIO Service (Object Storage)
  minio:
    image: minio/minio:latest
    ports:
      - "9000:9000"  # API port
      - "9001:9001"  # Web UI port
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
    volumes:
      - ./data/minio:/data
    command: server /data --console-address ":9001"
    networks:
      - app-network
    restart: unless-stopped

  #  Redis service
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    networks:
      - app-network
    restart: unless-stopped

  # Nest GraphQL service
  nest-graphql:
    build:
      context: ./nest-graphql
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./nest-graphql:/app
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge
