version: '3.8'

# TODO: this is for dev. So create a prod version later.
services:
  # Frontend Service (SvelteKit)
  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:8000
    # this is to hot-reload the frontend and avoid overwriting the node_modules folder
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    networks:
      - app-network
    restart: unless-stopped

  # Backend Service (FastAPI)
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    # this is to hot-reloading
    volumes:
      - ./backend:/app
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge
